@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'ngx-toastr/toastr';

.my-toast-center-padding{
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  z-index: 10;
  top: 80px;
  }
